#dns_flusher_page_status {
    position: fixed;
    right: 5px; 
    top: 5px;
    width: 150px;
    background: #F1EDED;
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 11px;
    color: #333;
    font-family: 'Arial', Helvetica, sans-serif;
    z-index: 20000;
    cursor: pointer;
    border-radius: 5px;
    line-height: 1.5em;
}

#dns_flusher_page_status:hover
{
    background: lightblue;
    cursor: move;
}

#dns_flusher_page_status:active
{
    background: cornflowerblue;
}

#dns_flusher_page_status .dismiss
{
    text-align:right;
}

#dns_flusher_page_status .dismiss a
{
    font-size:large;
    color: #333;
    text-decoration:none;
}
#dns_flusher_page_status .dismiss a:hover
{
    text-decoration:none;
}

#dns_flusher_page_status .info
{
    display: table-cell;
}

/* hide if in print view */
@media print {
    #dns_flusher_page_status {
        display: none;
    }
}